#main{
    display: grid;
    grid-template-columns: 50% 50%;
}

div[class*="track"]{
    border: 1px solid black;
    position: relative;
    margin: 1%;
}

button[class*="close"]{
    position: absolute;
    top: 0;
    right: 0;
}